SERVER_PORT=

POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=

USER_SERVICE_URL=

USER_SERVICE_DOCKER_URL=

KAFKA_HOST=
KAFKA_PORT_LOCAL=
KAFKA_PORT=

ACTIVE_PROFILE=